<div id="createlogin-container">
  <table cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <label>E-mailadres</label>
      </td>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td>
        <label>Password</label>
      </td>
      <td>
        <app-el-password id="logincreate-password"></app-el-password>
      </td>
    </tr>
    <tr>
      <td>
        <label>Confirm password</label>
      </td>
      <td>
        <app-el-password id="logincreate-confirmpassword"></app-el-password>
      </td>
    </tr>
    <tr>
      <td>
        <label>Captcha</label>
      </td>
      <td>
        <input type="text">
      </td>
    </tr>
    <tr>
      <td id="accNulling-container">
        <button>Annuleren</button>
      </td>
      <td id="accCreation-container">
        <button>Account Aanmaken</button>
      </td>
    </tr>
  </table>
</div>