table, tr, td {
  padding:0;
  margin:0;
}

.container {
  
}

.pass-field {
  border: 1px #cccccc solid;
  border-right: 0px;
  border-radius: 4px 0px 0px 4px;
  background: white;
  display: inline-block;
}

.pass-show {
  padding: 1px 3px 1px 3px;
  text-decoration: none;
  border: 1px #cccccc solid;
  border-radius: 0px 4px 4px 0px;
  display: inline-block;
}

.pass-show:active {
  background-color: white;
}