td {
  padding: 5px 15px 5px 15px;
}

label {
  font-size: 12px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

input {
  border: 1px #cccccc solid;
  border-radius: 4px;
  background: white;
  display: inline-block;
}