<div id="table-container">
  <table>
    <tr>
      <td class="linkcols-left">
        <a href="https://github.com/IliassNassibane">Github</a>
      </td>
      <td class="linkcols-left">
        <a href="https://stackblitz.com/@IliassNassibane">Stackblitz</a>
      </td>
      <td class="linkcols-mid">
        <h2>
          Loginpage(-template)
        </h2>
      </td>
      <td class="linkcols-right"></td>
    </tr>
    <tr>
      <td colspan="4">
        <p>
          made by Iliass Nassibane - 2019/2020
        </p>
      </td>
    </tr>
  </table>
</div>